# Runtime requirements
--requirement requirements.txt

# testing
pytest==6.2.2
py==1.4.34
pytest-cov==2.5.1
coveralls==1.2.0
webtest==2.0.28
mock==2.0.0
responses==0.7.0

# pyramid
pyramid_debugtoolbar==4.3

# documentation
Sphinx==1.6.4
sphinxcontrib-httpdomain==1.4.0
sphinx_rtd_theme==0.1.9
sphinxcontrib-plantuml==0.7

# waitress
waitress==1.0.2