# Runtime requirements
--requirement requirements.txt

# testing
pytest==6.2.2
py==1.10.0
pytest-cov==2.11.1
coveralls==3.0.0
webtest==2.0.35
mock==4.0.3
responses==0.12.1

# pyramid
pyramid_debugtoolbar==4.3

# documentation
Sphinx==1.6.4
sphinxcontrib-httpdomain==1.4.0
sphinx_rtd_theme==0.1.9
sphinxcontrib-plantuml==0.7

# waitress
waitress==1.0.2