# Runtime requirements
--requirement requirements.txt

# Testing
pytest==2.6.4
py==1.4.26
pytest-cov==1.8.1

# Documentation
Sphinx==1.2.3
sphinxcontrib-httpdomain==1.3.0
sphinxcontrib-plantuml==0.5

